<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIPuiaJz21OFDK9fPrmrZtOIvYwnqoWCw</string>
	<key>GCM_SENDER_ID</key>
	<string>189835344319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.ecoquest.ecoquest</string>
	<key>PROJECT_ID</key>
	<string>hackduke2023</string>
	<key>STORAGE_BUCKET</key>
	<string>hackduke2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189835344319:ios:6dfa171acf738d138ac90a</string>
</dict>
</plist>